<!doctype html>
<html lang="zh-tw" ng-app="appyApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>割闌尾 批次輸入系統</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="bower_components/angular-wizard/dist/angular-wizard.min.css">
  <link rel="stylesheet" href="bower_components/angucomplete/angucomplete.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.js"></script>
  <script src="js/main.js"></script>
  <script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angucomplete/angucomplete.js"></script>

</head>
<body>
<a id="top"></a>
<div class="fb-wrapper">

</div>
<div class="container main" ng-controller="FormCtrl">
<div id="proposalPage">
  <div class="dec">
    <!-- <img src="../assets/images/logo-b.png"> -->
  </div>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
  <form id="proposalForm" class="form-horizontal" role="form"
    action="https://script.google.com/macros/s/AKfycbwi2ztrEetA6YRcnbSRbE1c6ntJN2Fb0BnaU83VD60LhF2ZAgM/exec"
    method="post" target="hidden_iframe" name="proposalForm">

    <h1 class="text-center">批次輸入系統</h1>

    <div>
      <div class="form-group">
        <div ng-class="{ 'has-error': proposalForm.date.$invalid }">
          <label for="date" class="col-sm-2 control-label">填寫日期</label>
          <div class="col-sm-3">
            <input required type="text" ng-pattern="/^[0-9]{6,6}$/" onClick="this.setSelectionRange(0, this.value.length)" ng-model="person.date" class="form-control" name="date" placeholder="範例：140212" maxlength="6">
          </div>
        </div>
        <div ng-class="{ 'has-error': proposalForm.serialnumber.$invalid }">
          <label for="serialnumber" class="col-sm-2 control-label">流水號</label>
          <div class="col-sm-5 form-inline">
            <input type="text" ng-pattern="/^[0-9]{6,6}$/" required onClick="this.setSelectionRange(0, this.value.length)" ng-model="person.serialnumber" class="form-control" name="serialnumber" maxlength="6">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error': proposalForm.id.$invalid }">
          <label class="col-sm-2 control-label">身分證</label>
          <div class="col-sm-5">
            <input type="text" onClick="this.setSelectionRange(0, this.value.length)" rocid required ng-model="person.id" class="form-control" name="id" maxlength="10" placeholder="需與身分證相同 (半形英數字)">
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': proposalForm.village.$invalid }">
        <label class="col-sm-2 control-label">戶籍地址</label>
        <div addr-set class="col-sm-10 form-inline">
          <select required
            addr-array ng-model="person.addrCity" class="form-control" name="city"
            ng-change="person.addrVillage = null; person.addrDistrict = null"
            ng-options="key for (key, value) in districts">
            <option value="">縣市</option>
          </select>
          <select required
            addr-array ng-model="person.addrDistrict" class="form-control" name="district"
            ng-change="person.addrVillage = null"
            ng-options="key for (key, value) in person.addrCity.contains">
            <option value="">區域/鄉鎮</options>
          </select>
          <select required
            addr-array ng-model="person.addrVillage" class="form-control" name="village"
            ng-options="key for (key, value) in person.addrDistrict.contains">
            <option value="">村里</options>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label class="col-sm-2 control-label">村里快速輸入</label>
          <div class="col-sm-5">
            <angucomplete id="village-search"
              placeholder="輸入村里即可"
              pause="100"
              selectedobject="selectedAddr"
              localdata="villages"
              searchfields="village"
              titlefield="city,district,village"
              minlength="1"
              inputclass="form-control"/>
          </div>
        </div>
      </div>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              縣市
            </h4>
          </div>
          <div class="panel-body">
            <span ng-repeat="(key, value) in districts" class="label addr-label" ng-class="getLabel('City')"><a href="#" ng-click="onCityClick()">{{key}}</a></span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              區域/鄉鎮
            </h4>
          </div>
          <div class="panel-body">
            <span ng-repeat="(key, value) in person.addrCity.contains" class="label addr-label" ng-class="getLabel('District')"><a href="#" ng-click="onDistrictClick()">{{key}}</a></span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              村里
            </h4>
          </div>
          <div class="panel-body">
            <span ng-repeat="(key, value) in person.addrDistrict.contains" class="label addr-label" ng-class="getLabel('Village')"><a href="#" ng-click="onVillageClick()">{{key}}</a></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error': proposalForm.hasQrcode.$invalid }">
          <label class="col-sm-2 control-label">有無 QRCode</label>
          <div class="col-sm-3">
            <label class="radio-inline">
              <input required type="radio" ng-model="person.hasQrcode" name="hasQrcode" id="inlineRadio1" value="Y"> 有
            </label>
            <label class="radio-inline">
              <input required type="radio" ng-model="person.hasQrcode" name="hasQrcode" id="inlineRadio2" value="N"> 無
            </label>
          </div>
        </div>
        <div ng-class="{ 'has-error': proposalForm.hasFStamp.$invalid }">
          <label class="col-sm-2 control-label">有無 F 章</label>
          <div class="col-sm-3">
            <label class="radio-inline">
              <input required type="radio" ng-model="person.hasFStamp" name="hasFStamp" id="inlineRadio1" value="Y"> 有
            </label>
            <label class="radio-inline">
              <input required type="radio" ng-model="person.hasFStamp" name="hasFStamp" id="inlineRadio2" value="N"> 無
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div ng-class="{ 'has-error': proposalForm.birthday.$invalid }">
          <label class="col-sm-2 control-label">出生年（民國）</label>
          <div class="col-sm-3 form-inline">
            <input type="text" ng-pattern="/^[0-9]{2,2}$/" required onClick="this.setSelectionRange(0, this.value.length)" ng-model="person.birthday" class="form-control" name="birthday" placeholder="範例：73" maxlength="2">
          </div>
        </div>
        <div ng-class="{ 'has-error': proposalForm.phone.$invalid }">
          <label for="phone" class="col-sm-2 control-label">電話</label>
          <div class="col-sm-3 form-inline">
            <input type="tel" required onClick="this.setSelectionRange(0, this.value.length)" ng-model="person.phone" class="form-control" name="phone">
          </div>
        </div>
      </div>
    </div>

    <div class="text-center submit">
      <button ng-disabled="proposalForm.$invalid || sending" type="button" class="btn btn-primary" ng-click="send()">
        <span class="glyphicon glyphicon-print"></span> 送出
      </button> <a href="https://docs.google.com/spreadsheets/d/119q1KUlELT_3riojzCerfrY1zor6ma9Zlqs4inkUpjU/edit" target="_blank">結果頁</a>
    </div>
    <div class="result">
      <table>
        <tr>
          <th>狀態</th>
          <th>日期</th>
          <th>流水號</th>
          <th>ID</th>
          <th>出生年</th>
          <th>里</th>
          <th>QRcode</th>
          <th>F 章</th>
          <th>電話</th>
        </tr>
        <tr ng-repeat="res in results">
          <td ng-switch on="res.done">
            <span ng-switch-when="false" class="glyphicon glyphicon-time"></span>
            <span ng-switch-when="true" class="glyphicon glyphicon-ok"></span>
          </td>
          <td>{{res.date}}</td>
          <td>{{res.serialnumber}}</td>
          <td>{{res.id}}</td>
          <td>{{res.birthday}}</td>
          <td>{{res.village}}</td>
          <td>{{res.hasQrcode}}</td>
          <td>{{res.hasFStamp}}</td>
          <td>{{res.phone}}</td>
        </tr>
      </table>
    </div>
  </form>
  </div>

</div>
</body>
</html>
